<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>导航分类</title>
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- layui.css -->
    <link href="/admin/plugin/layui/css/layui.css" rel="stylesheet" />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
    <style>
        .layui-btn-small {
            padding: 0 15px;
        }

        .layui-form-checkbox {
            margin: 0;
        }

        tr td:not(:nth-child(0)),
        tr th:not(:nth-child(0)) {
            text-align: center;
        }

        #dataConsole {
            text-align: center;
        }
    </style>
</head>
<body>
    <fieldset id="dataConsole" class="layui-elem-field layui-field-title">
        <legend>控制台</legend>
        <div class="layui-field-box">
            <div id="articleIndexTop">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item" style="margin:0;margin-top:15px;">
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width:auto">
                                <a id="addArticle" class="layui-btn layui-btn-normal" data-toggle="modal"  data-target=".bs-example-modal-lg">添加新导航分类</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </fieldset>
    <fieldset id="dataList" class="layui-elem-field layui-field-title sys-list-field">
        <div class="layui-field-box">
            <div id="dataContent" class="">
                <!--内容区域 ajax获取-->
                <table style="" class="layui-table" lay-even="">
                    <colgroup>
                        <col width="180">
                        <col>
                        <col width="150">
                        <col width="180">
                        <col width="90">
                        <col width="90">
                        <col width="50">
                        <col width="50">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>时间</th>
                            <th>内容</th>
                            <th>排序</th>
                            <th colspan="2">操作</th>
                        </tr>
                    </thead>
                    <tbody class="content">
                        <!-- <tr>
                            <input type="hidden" value="" class="id">
                            <td>2017-5-36</td>
                            <td>百度搜索</td>
                            <td>1</td>
                            <td>
                                <button class="layui-btn layui-btn-small layui-btn-normal"><i class="layui-icon">&#xe642;</i></button>
                            </td>
                            <td>
                                <button class="layui-btn layui-btn-small layui-btn-danger"><i class="layui-icon">&#xe640;</i></button>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
                <div id="pageNav"></div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">设置新的导航分类</h4>
                </div>
                <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="recipient-name" class="control-label">时间</label>
                        <input type="text" class="form-control catetime" id="recipient-name" name="catetime">
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="control-label">内容</label>
                        <input type="text" class="form-control catename" id="recipient-name" name="catename">
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="control-label">排序</label>
                        <input type="number" class="form-control catetop" id="recipient-name" name="catetop">
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <span type="button" class="btn btn-primary tijiao">提交</span>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-dialog modal-lg quxiaocon" role="document" style="display:none">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="quxiao">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">修改导航分类</h4>
                </div>
                <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <input type="hidden" value="" class="upid">
                        <label for="recipient-name" class="control-label">时间</label>
                        <input type="text" class="form-control upcatetime" id="recipient-name" name="catetime">
                      </div>
                      <div class="form-group">
                        <label for="message-text" class="control-label">内容</label>
                        <input type="text" class="form-control upcatename" id="recipient-name" name="catename">
                      </div>
                      <div class="form-group">
                        <label for="recipient-name" class="control-label">排序</label>
                        <input type="number" class="form-control upcatetop" id="recipient-name" name="catetop">
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default quxiao" data-dismiss="modal">取消</button>
                    <span type="button" class="btn btn-primary tijiaoup">提交</span>
                </div>
            </div>
          </div>

    </fieldset>
    <!-- layui.js -->
    <script src="/admin/plugin/layui/layui.js"></script>
    <!-- layui规范化用法 -->
    <!-- <script type="text/javascript">
        layui.config({
            base: './js/'
        }).use('datalist');
    </script> -->
</body>
<script>
    $(function(){
        // 获取数据
        var htm =  '<tr>'
                + '<input type="hidden" value="{0}" class="id">'
                +'<td>{1}</td>'
                + '<td>{2}</td>'
                +'<td>{3}</td>'
                +'<td>'
                +' <button class="layui-btn layui-btn-small layui-btn-normal updata"><i class="layui-icon">&#xe642;</i></button>'
                +'</td>'
                +'<td>'
                +'<button class="layui-btn layui-btn-small layui-btn-danger remove"><i class="layui-icon">&#xe640;</i></button>'
                +'</td>'
                + '<tr>';
         $.ajax({
                type: 'GET',
                url: '/apiadmin/catelist',
                data: null ,
                success: function(data){
                    // console.log(data)
                    for(var i= 0,str="";i<data.length;i++){
                     var datas = [
                            data[i]._id,
                            data[i].catetime,
                            data[i].catename,
                            data[i].catetop
                        ];
                        str += replaceString(htm,datas);
                    }

                    $(".content").html(str);
                }
            });
        // 提交数据
        $('.tijiao').on('click',function(){
            // 获取表单数据
            var catename = $('.catename').val();
            var catetime = $('.catetime').val();
            var catetop = $('.catetop').val();
            var dd = {
                'catename' : catename,
                'catetime' : catetime,
                'catetop' : catetop
            }
            // console.log(dd)
            $.ajax({
                type: 'POST',
                url: '/apiadmin/addcate',
                data: dd ,
                success: function(data){
                    if(data.is==true){
                        history.go(0); 
                    }else{
                        alert('数据添家有误，请重新输入');
                    }
                }
            });
        })
        $('.content').on('click','.remove',function(){
            var _self = this;
            var id = $(_self).parents('tr').find('.id').val();
            var dd = {
                id:id
            }
            // console.log(dd);
            $.ajax({
                type: 'POST',
                url: '/apiadmin/removecate',
                data: dd ,
                success: function(data){
                    // console.log(data)
                    if(data.is==true){
                        history.go(0); 
                    }else{
                        alert('网络错误,请稍后重试');
                    }
                }
            });
        });

        // 更新
        $('.quxiao').click(function(){
            $('.quxiaocon').hide();
        });
        // 赋值数据
        $('.content').on('click','.updata',function(){
            $('.quxiaocon').show();
            var _self = this;
            var id = $(_self).parents('tr').find('.id').val();
            // console.log(id)
            var catetime = $(_self).parents('tr').find('td').eq(0).text();
            var catename = $(_self).parents('tr').find('td').eq(1).text();
            var catetop = $(_self).parents('tr').find('td').eq(2).text();
            $('.upcatetime').val(catetime);
            $('.upcatename').val(catename);
            $('.upcatetop').val(catetop);
            $('.upid').val(id);
        });
        // 更新数据ajax
        $('.tijiaoup').click(function(){
            // alert('12313')
            var id = $('.upid').val();
            var upcatetime = $('.upcatetime').val();
            var upcatename = $('.upcatename').val();
            var upcatetop = $('.upcatetop').val();

            var dd = {
                upid:id,
                upcatetime:upcatetime,
                upcatename:upcatename,
                upcatetop:upcatetop
            }
            console.log(dd)
            $.ajax({
                type: 'POST',
                url: '/apiadmin/upcate',
                data: dd ,
                success: function(data){
                    console.log(data)
                    if(data.is==true){
                        history.go(0); 
                    }else{
                        alert('网络错误,请稍后重试');
                    }
                }
            });
        });
        // 字符串函数
        function replaceString(string, datas) {
            var str = string;
            for (var i = 0; i < datas.length; i++) {
                var regExp = new RegExp("\\{" + i + "\\}", "g");
                str = str.replace(regExp, datas[i]);

            }
            return str;
        }
    });

</script>
</html>